<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.getstream.getsteamchatlibrary">


    <application>

        <activity android:name=".MessageListActivity"></activity>
        <activity android:name=".ChannelListsActivity" />
    </application>

</manifest>